@font-face {
  font-family: 'Goudy';
  src: url('fonts/GoudyStM/GoudyStM-Italic-webfont.eot');
  src: url('fonts/GoudyStM/GoudyStM-Italic-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/GoudyStM/GoudyStM-Italic-webfont.woff') format('woff'),
       url('fonts/GoudyStM/GoudyStM-Italic-webfont.ttf') format('truetype'),
       url('fonts/GoudyStM/GoudyStM-Italic-webfont.svg#webfonto679uXZB') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Goudy';
  src: url('fonts/GoudyStM/GoudyStM-webfont.eot');
  src: url('fonts/GoudyStM/GoudyStM-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/GoudyStM/GoudyStM-webfont.woff') format('woff'),
       url('fonts/GoudyStM/GoudyStM-webfont.ttf') format('truetype'),
       url('fonts/GoudyStM/GoudyStM-webfont.svg#webfontuJixCSe1') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LeagueGothic';
  src: url('fonts/LeagueGothic/LeagueGothic-Regular.woff') format('woff');
  src: url('fonts/LeagueGothic/LeagueGothic-Regular.otf') format('opentype'),
       url('fonts/LeagueGothic/LeagueGothic-Regular.woff2') format('woff2'),
       url('fonts/LeagueGothic/LeagueGothic-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

html {
  background-image: url("images/light-cloud.jpg");
  z-index: -1;
}

::-webkit-scrollbar {
  width: 0vh
}

/* scroll-snap */
.scroll-section {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

section {
  height: 100vh;
  scroll-snap-align: center;
}

/* other styles */
section {
  padding: 1rem;
  font-family: 'Goudy', serif;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.scroll-item p {
  margin: 10vh;
  color: black;
  z-index: 1;
  font-size: 4vh;
}

.explainer {
  margin-top: 20vh;
  margin-bottom: 5vh;
  font-size: 4vh;
}

p.unit {
  color: black;
  z-index: 1;
  margin-bottom: 0vh;
  font-family: 'LeagueGothic';
  font-size: 5vh;
}

.xs {
  font-size: 4.5vh;
  color: rgba(0, 0, 0, 0.8);
  margin-left: 2vh;
}

.sm {
  font-size: 5vh;
  color: rgba(0, 0, 0, 0.8);
  margin-left: 2vh;
}

.md {
  font-size: 6vh;
  color: rgb(255, 228, 196, 0.8);
  margin-left: 2vh;
}

.lg {
  font-size: 8vh;
  color: rgb(255, 228, 196, 0.8);
  margin-left: 2vh;
}

.scroll-item-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Goudy', serif;
  font-style: italic;
  scroll-snap-align: center;
  scroll-snap-stop: always;
  height: 100vh;
  font-size: 7vh;
}

.scroll-item-title p {
  margin: 10vh;
  z-index: 10;
}

.grams-title {
  background-color: rgb(255, 228, 196, 0.5);
  color: black;
}

.kilos-title {
  background-color: rgba(109, 132, 156, 0.6);
  color: black;
}

.tons-title {
  background-color: rgba(88, 96, 103, 0.7);
}

.tons-title p {
  color: rgb(255, 228, 196);
}

.tons p {
  color: rgb(255, 228, 196);
}

.m-tons-title {
  background-color: rgba(46, 50, 54, 0.7);
}

.m-tons-title p {
  color: rgb(255, 228, 196, 0.9);
}

.m-tons p {
  color: rgb(255, 228, 196, 0.9);
}

.balloon {
  position: fixed;
  width: 142vmax;
  height: 142vmax;
  left: 50%;
  right: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0.0001);
  border-radius: 50%;
  background-color: rgba(37, 39, 42, 0.6);
  opacity: 70%;
  z-index: -1;
}
