<!DOCTYPE html>
<html>
    <head>
        <title>About the Cloud</title>
        <link rel="stylesheet" href="static/style.css">
        <link rel="stylesheet" href="static/about-style.css">
        <script type="module" src="static/app.js"></script>
        <link rel="icon" type="image/png" href="static/images/favicon.png"/>
        <link rel="apple-touch-icon"  type="image/png" href="static/images/favicon.png"/>
        <link rel="apple-touch-icon-precomposed" type="image/png" href="static/images/favicon.png"/>
    </head>
    <body>
        <div class="about-cloud">
            <a href="/">
                <p class="menu">Home</p>
            </a>
            <p class="about-title">About</p>
            <p class="about-text">“Because of its reliability and ubiquity, the cloud is a particularly mute piece of infrastructure.
                It is just there, atmospheric and part of the environment.”<br/>  Tung-Hui Hu, <a href="https://mitpress.mit.edu/9780262529969/a-prehistory-of-the-cloud/"><strong>A Prehistory of the Cloud</strong></a></p>
            <p class="about-text">A cloud is vaporous, something you can't touch. The cloud is not: it's made out of servers and wires, metal and plastic. 
                Like all corporeal things, this cloud has an impact on the world at large.</p>
            <p class="about-text">The Information and Communication Technology industry accounts for between <a href="https://perma.cc/LAG6-L2VV">1.8 - 3.9% of global carbon emissions</a>.
                Every action we take in the digital world — from buying a new phone to running a modem — contributes to that figure. 
                Climate change is a systemic issue, so it can be challenging to identify the impacts of an individual life.</p>
            <p class="about-text">This application allows you to see the carbon footprints of various digital activities. <a href="/">Scroll through</a> to see the carbon emissions of everyday activities.</p>
            <p class="about-text">View the <a href="https://github.com/harvard-lil/the-cloud">code and research</a> on GitHub.</p>
            <p class="about-text">This is a project of Rebecca Kilberg and the <a href="http://lil.law.harvard.edu">Library Innovation Lab.</a></p>
            <p class="about-title">Thank You</p>
            <p class="about-text">• Amitabh Shrivastava<br/>• Ben Steinberg<br/>• Becky Cremona<br/> • Catherine Brobston<br/> • Dakota Sexton<br/> • Greg Leppert<br/> • Jacob Rhoades<br/> • Joe Kile<br/> • Jonathan Bobrow<br/> • Matteo Cargnelutti<br/> • Michael Della-Bitta<br/> • Sarah Newman<br/> • Srikanth Guttikonda<br/> • Tal Nagourney</p>
        </div>
    </body>
</html>