<!DOCTYPE html>
<html>
    <head>
        <title>Doomscroll through the Cloud</title>
        <link rel="stylesheet" href="static/style.css">
        <script type="module" src="static/app.js"></script>
        <link rel="icon" type="image/png" href="static/images/favicon.png"/>
        <link rel="apple-touch-icon"  type="image/png" href="static/images/favicon.png"/>
        <link rel="apple-touch-icon-precomposed" type="image/png" href="static/images/favicon.png"/>
    </head>
    <body>
        <div class="scroll-container">
            <div class="balloon"></div>
            <div class="scroll-section">
            <div class="grams-section">
                <div class="scroll-item-title grams-title">
                    <p>GRAMS</p>
                </div>
                <div class="scroll-item grams" id="one" data-fetch-url="/on?time=.005"> 
                    <p>A spam email caught by filters <br>(0.05 g)</p>
                </div>
                <div class="scroll-item grams" id="two" data-fetch-url="/on?time=.02">
                    <p class="two">A short email sent from one phone and received on another <br>(0.2 g)</p>
                </div>
                <div class="scroll-item grams" id="three" data-fetch-url="/on?time=.04">
                    <p>A short email sent from one laptop and received on another <br>(0.4 g)</p>
                </div>
                <div class="scroll-item grams" id="four" data-fetch-url="/on?time=.006">
                    <p>A Google search <br>(0.6 g)</p>
                </div>
                <div class="scroll-item grams" id="five" data-fetch-url="/on?time=.008">
                    <p>A text message that takes 30 seconds to write and 30 seconds to read <br>(0.8 g)</p>
                </div>
                <div class="scroll-item grams" id="six" data-fetch-url="/on?time=.04">
                    <p>A one-hour Zoom call on a 13" MacBook pro <br>(4 g)</p>
                </div>
                <div class="scroll-item grams" id="eight" data-fetch-url="/on?time=.069">
                    <p>Five minutes browsing the web on a smartphone <br>(6.9 g)</p>
                </div>
                <div class="scroll-item grams" id="ten" data-fetch-url="/on?time=.096">
                    <p>Five minutes browsing the web on a laptop <br>(9.6 g)</p>
                </div>
                <div class="scroll-item grams" id="twelve" data-fetch-url="/on?time=.17">
                    <p>A long email sent between laptops that takes 10 minutes to write and 3 minutes to read <br>(17 g)</p>
                </div>
                <div class="scroll-item grams" id="thirteen" data-fetch-url="/on?time=.2">
                    <p>One hour using on laptop of average efficiency <br>(20 g)</p>
                </div>
                  <div class="scroll-item grams" id="eighteen" data-fetch-url="/on?time=.55">
                    <p>1 hour streaming media (like music) <br>(55 g)</p>
                </div>
                <div class="scroll-item grams" id="nineteen" data-fetch-url="/on?time=.98">
                    <p>One hour using a desktop computer with a screen <br>(98 g)</p>
                </div>
                <div class="scroll-item grams" id="twenty" data-fetch-url="/on?time=1.30">
                    <p>One hour on a gaming PC with screen <br>(130 g)</p>
                </div>
                <div class="scroll-item grams" id="twentyone" data-fetch-url="/on?time=1.79">
                    <p>One hour streaming TV on 13" MacBook Pro <br>(179 g)</p>
                </div>
                <div class="scroll-item grams" id="twentytwo" data-fetch-url="/on?time=2.79">
                    <p>One hour streaming on a 55 inch LED TV <br>(279 g)</p>
                </div>
            </div>
            <div class="kilo-section">
                <div class="scroll-item-title kilos-title"><p>Kilograms</p></div>
                <div class="scroll-item kilos" id="twentythree" data-fetch-url="/on?time=.22">
                    <p>One million Office files stored for one year by Arkivum on GCP in Finland <br>(2.2 kg)</p>
                </div>
                <div class="scroll-item kilos" id="twentyfive" data-fetch-url="/on?time=.5">
                    <p>One 2g microprocessor chip <br>(5 kg)</p>
                </div>
                <div class="scroll-item kilos" id="twentysix" data-fetch-url="/on?time=.55">
                    <p>One million Office files stored for one year by Arkivum on GCP in Frankfurt <br>(5.5 kg)</p>
                </div>
                <div class="scroll-item kilos" id="twentyseven" data-fetch-url="/on?time=.784">
                    <p>Logitech G Pro Wireless Gaming Mouse <br>(7.84 kg)</p>
                </div>
                <div class="scroll-item kilos" id="twentyeight" data-fetch-url="/on?time=1.4">
                    <p>Training BERT (language modeling) on 8 V100s for 36 hours in the West US region <br>(14 kg)</p>
                </div>
                 <div class="scroll-item kilos" id="thirty" data-fetch-url="/on?time=2.2">
                    <p>Logitech G213 Prodigy Gaming Keyboard <br>(22 kg)</p>
                </div>
                <div class="scroll-item kilos" id="thirtyone" data-fetch-url="/on?time=2.3">
                    <p>Use of External LCD Monitor at home <br>(23 kg)</p>
                </div>
                <div class="scroll-item kilos" id="thirtythree" data-fetch-url="/on?time=3">
                    <p>One year of WiFi router use <br>(30 kg)</p>
                </div>
                <div class="scroll-item kilos" id="thirtyfour" data-fetch-url="/on?time=3.8">
                    <p>One year of receiving 75 emails per day on average, which each took three minutes to write and one minute to read <br>(38 kg)</p>
                </div>
                <div class="scroll-item kilos" id="thirtyfive" data-fetch-url="/on?time=4.2">
                    <p>Electricity to power one year of using a smartphone smartphone 3.25 hours per day <br>(42 kg)</p>
                </div>
                <div class="scroll-item kilos" id="thirtysix" data-fetch-url="/on?time=4.3">
                    <p>Data transmissions for one year of using a smartphone for 3.25 hours per day <br>(43 kg)</p>
                </div>
                <div class="scroll-item kilos" id="forty" data-fetch-url="/on?time=6.1">
                    <p>Lifetime footprint of iPhone 14 128 GB <br>(61 kg)</p>
                </div>
                <div class="scroll-item kilos" id="fortyfive" data-fetch-url="/on?time=7.6">
                    <p>One year of using a typical smartphone for 3.25 hours per day <br>(76 kg)</p>
                </div>
                <div class="scroll-item kilos" id="fortyeight" data-fetch-url="/on?time=9.2">
                    <p>Lifetime footprint of Apple iPad Air <br>(5th generation) 256 GB <br>(92 kg)</p>
                </div>
                <div class="scroll-item kilos" id="fifty" data-fetch-url="/on?time=9.6">
                    <p>One year of using a smartphone for 10 hours per day <br>(96 kg)</p>
                </div>
                <div class="scroll-item kilos" id="fiftytwo" data-fetch-url="/on?time=14">
                    <p>One million Office files ingested by Arkivum on GCP in Frankfurt <br>(140 kg)</p>
                </div>
                <div class="scroll-item kilos" id="fiftyfour" data-fetch-url="/on?time=32.9">
                    <p>Buying a low-cost 14" HP Chromebook 14 G5 <br>(329 kg)</p>
                </div>
                <div class="scroll-item kilos" id="fiftyfive" data-fetch-url="/on?time=47.5">
                    <p>Buying a 15" Dell Precision 5530 with 256 GB storage <br>(475 kg)</p>
                </div>
                <div class="scroll-item kilos" id="fiftyeight" data-fetch-url="/on?time=62">
                    <p>Buying a 16" MacBook Pro with 1 TB storage <br>(620 kg)</p>
                </div>
                <div class="scroll-item kilos" id="sixtyone" data-fetch-url="/on?time=160">
                    <p>One PB of large image files ingested by Arkivum in Frankfurt <br>(1600 kg)</p>
                </div>
                <div class="scroll-item kilos" id="sixtythree" data-fetch-url="/on?time=780">
                    <p>One PB data of Arkivum data stored for a year in Frankfurt <br>(7800 kg)</p>
                </div>
            </div>
            <div class="tons-section">
                <div class="scroll-item-title tons-title"><p>Tons</p></div>
                <div class="scroll-item tons" id="sixtyfour" data-fetch-url="/on?time=27.4">
                    <p>ChatGPT each day <br>(assumed hosted in Western USA) <br>(27.4 tons)</p>
                </div>
                <div class="scroll-item tons" id="sixtyfive" data-fetch-url="/on?time=30">
                    <p>Open-access BLOOM model AI <br>(30 tons)</p>
                </div>
                <div class="scroll-item tons" id="sixtysix" data-fetch-url="/on?time=315">
                    <p>Training natural language processing algorithm with neural architecture search (such as used for Alexa) <br>(315 tons)</p>
                </div>
            </div>
            <div class="m-tons-section">
                <div class="scroll-item-title m-tons-title"><p>Millions of Tons</p></div>
                <div class="scroll-item m-tons" id="sixtyseven" data-fetch-url="/on?time=3300">
                    <p>Mining bitcoin for one year using hydroelectric power only in 2023 (3.3 million tons)</p>
                </div>
                <div class="scroll-item m-tons" id="sixtyeight" data-fetch-url="/on?time=46000">
                    <p>Bitcoin in 2019 (46 million tons)</p>
                </div>
                <div class="scroll-item m-tons" id="sixtynine" data-fetch-url="/on?time=68000">
                    <p>All cryptocurrencies in 2019 (68 million tons)</p>
                </div>
                <div class="scroll-item m-tons" id="seventy" data-fetch-url="/on?time=79900">
                    <p>Mining bitcoin for one year using a variety of different energy sources in 2023 (79.9 million tons)</p>
                </div>
                <div class="scroll-item m-tons" id="seventyone" data-fetch-url="/on?time=130000">
                    <p>The cloud and the world's data centers in 2010 (130 million tons)</p>
                </div>
                <div class="scroll-item m-tons" id="seventythree" data-fetch-url="/on?time=160000">
                    <p>The cloud and the world's data centers in 2020 (160 million tons)</p>
                </div>
                <div class="scroll-item m-tons" id="seventythree" data-fetch-url="/on?time=580000">
                    <p>Global mobile phone usage (580 million tons)</p>
                </div>
            </div>
        </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"></script>
        <script src="static/animation.js"></script>
    </body>
</html>
