<!DOCTYPE html>
<html>
    <head>
        <title>Doomscroll through the Cloud</title>
        <link rel="stylesheet" href="static/style.css">
        <script type="module" src="static/app-landing.js"></script>
        <link rel="icon" type="image/png" href="static/images/favicon.png"/>
        <link rel="apple-touch-icon"  type="image/png" href="static/images/favicon.png"/>
        <link rel="apple-touch-icon-precomposed" type="image/png" href="static/images/favicon.png"/>
        <script src="https://kit.fontawesome.com/96d70322d1.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="balloon"></div>
        <div class="scroll-section">
            <div class="grams-section">
                <div>
                    <a href="/about">
                        <p class="menu">About</p>
                    </a>
                </div>
                <section class="scroll-item-title grams-title">
                    <div>
                        <p>GRAMS</p>
                        <p class="explainer">Scroll down to see how digital activities impact your carbon footprint</p>
                        <i class="fa-solid fa-chevron-down"></i>
                    </div>
                </section>
                <section class="scroll-item grams">
                    <div>
                        <p>A spam email caught by filters</p>
                        <p class="unit">
                            0.05 G
                            <i class="fa-solid fa-weight-hanging xs"></i>
                        </p>
                    </div>
                </section>
                <section class="scroll-item grams">
                    <div>
                        <p>A short email sent from one phone and received on another</p>
                        <p class="unit">
                            0.2 G
                            <i class="fa-solid fa-weight-hanging xs"></i>
                        </p>
                    </div>
                </section>
                <section class="scroll-item grams">
                    <div>
                        <p>A short email sent from one laptop and received on another</p>
                        <p class="unit">
                            0.4 G
                            <i class="fa-solid fa-weight-hanging xs"></i>
                        </p>
                    </div>
                </section>
                <section class="scroll-item grams">
                    <div>
                        <p>A Google search</p>
                        <p class="unit">
                            0.6 G
                            <i class="fa-solid fa-weight-hanging xs"></i>
                        </p>
                    </div>
                </section>
                <section class="scroll-item grams">
                    <div>
                        <p>A text message that takes 30 seconds to write and 30 seconds to read</p>
                        <p class="unit">
                            0.8 G
                            <i class="fa-solid fa-weight-hanging xs"></i>
                        </p>
                    </div>
                </section>
                <section class="scroll-item grams">
                    <div>
                        <p>A one-hour Zoom call on a 13″ MacBook pro</p>
                        <p class="unit">
                            4 G
                            <i class="fa-solid fa-weight-hanging xs"></i>
                        </p>
                    </div>
                </section>
                <section class="scroll-item grams">
                    <div>
                        <p>Five minutes browsing the web on a smartphone</p>
                        <p class="unit">
                            6.9 G
                            <i class="fa-solid fa-weight-hanging xs"></i>
                        </p>
                    </div>
                </section>
                <section class="scroll-item grams">
                    <div>
                        <p>Five minutes browsing the web on a laptop</p>
                        <p class="unit">
                            9.6 G
                            <i class="fa-solid fa-weight-hanging xs"></i>
                        </p>
                    </div>
                </section>
                <section class="scroll-item grams">
                    <div>
                        <p>A long email sent between laptops that takes 10 minutes to write and 3 minutes to read</p>
                        <p class="unit">
                            17 G
                            <i class="fa-solid fa-weight-hanging xs"></i>
                        </p>
                    </div>
                </section>
                <section class="scroll-item grams">
                    <div>
                        <p>One hour using on laptop of average efficiency</p>
                        <p class="unit">
                            20 G
                            <i class="fa-solid fa-weight-hanging xs"></i>
                        </p>
                    </div>
                </section>
                <section class="scroll-item grams">
                    <div>
                        <p>One hour streaming media (like music)</p>
                        <p class="unit">
                            55 G
                            <i class="fa-solid fa-weight-hanging xs"></i>
                        </p>
                    </div>
                </section>
                <section class="scroll-item grams">
                    <div>
                        <p>One hour using a desktop computer with a screen</p>
                        <p class="unit">
                            98 G
                            <i class="fa-solid fa-weight-hanging xs"></i>
                        </p>
                    </div>
                </section>
                <section class="scroll-item grams">
                    <div>
                        <p>One hour on a gaming PC with screen</p>
                        <p class="unit">
                            130 G
                            <i class="fa-solid fa-weight-hanging xs"></i>
                        </p>
                    </div>
                </section>
                <section class="scroll-item grams">
                    <div>
                        <p>One hour streaming TV on 13″ MacBook Pro</p>
                        <p class="unit">
                            179 G
                            <i class="fa-solid fa-weight-hanging xs"></i>
                        </p>
                    </div>
                </section>
                <section class="scroll-item grams">
                    <div>
                        <p>One hour streaming on a 55″ LED TV</p>
                        <p class="unit">
                            279 G
                            <i class="fa-solid fa-weight-hanging xs"></i>
                        </p>
                    </div>
                </section>
            </div>
            <div class="kilo-section">
                <section class="scroll-item-title kilos-title"><p>KILOGRAMS</p></section>
                <section class="scroll-item kilos">
                    <div>
                        <p>One million Office files stored for one year by Arkivum on GCP in Finland</p>
                        <p class="unit">
                            2.2 KG
                            <i class="fa-solid fa-weight-hanging fa sm"></i>
                        </p>
                    </div>
                </section>
                <section class="scroll-item kilos">
                    <div>
                        <p>One 2g microprocessor chip</p>
                        <p class="unit">
                            5 KG
                            <i class="fa-solid fa-weight-hanging fa sm"></i>
                        </p>
                    </div>
                </section>
                <section class="scroll-item kilos">
                    <div>
                        <p>One million Office files stored for one year by Arkivum on GCP in Frankfurt</p>
                        <p class="unit">
                            5.5 KG
                            <i class="fa-solid fa-weight-hanging fa sm"></i>
                        </p>
                    </div>
                </section>
                <section class="scroll-item kilos">
                    <div>
                        <p>Lifecycle emissions of a Logitech G Pro Wireless Gaming Mouse</p>
                        <p class="unit">
                            7.84 KG
                            <i class="fa-solid fa-weight-hanging fa sm"></i>
                        </p>
                    </div>
                </section>
                <section class="scroll-item kilos">
                    <div>
                        <p>Training BERT (language modeling) on 8 V100s for 36 hours in the West US region</p>
                        <p class="unit">
                            14 KG
                            <i class="fa-solid fa-weight-hanging fa sm"></i>
                        </p>
                    </div>
                </section>
                <section class="scroll-item kilos">
                    <div>
                        <p>Lifecycle emissions of a Logitech G213 Prodigy Gaming Keyboard</p>
                        <p class="unit">
                            22 KG
                            <i class="fa-solid fa-weight-hanging fa sm"></i>
                        </p>
                    </div>
                </section>
                <section class="scroll-item kilos">
                    <div>
                        <p>Use of External LCD Monitor at home</p>
                        <p class="unit">
                            23 KG
                            <i class="fa-solid fa-weight-hanging fa sm"></i>
                        </p>
                    </div>
                </section>
                <section class="scroll-item kilos">
                    <div>
                        <p>One year of WiFi router use</p>
                        <p class="unit">
                            30 KG
                            <i class="fa-solid fa-weight-hanging fa sm"></i>
                        </p>
                    </div>
                </section>
                <section class="scroll-item kilos">
                    <div>
                        <p>One year of receiving 75 emails per day on average, which each take three minutes to write and one minute to read</p>
                        <p class="unit">
                            38 KG
                            <i class="fa-solid fa-weight-hanging fa sm"></i>
                        </p>
                    </div>
                </section>
                <section class="scroll-item kilos">
                    <div>
                        <p>Electricity to power one year of using a smartphone smartphone 3.25 hours per day</p>
                        <p class="unit">
                            42 KG
                            <i class="fa-solid fa-weight-hanging fa sm"></i>
                        </p>
                    </div>
                </section>
                <section class="scroll-item kilos">
                    <div>
                        <p>Data transmissions for one year of using a smartphone for 3.25 hours per day</p>
                        <p class="unit">
                            43 KG
                            <i class="fa-solid fa-weight-hanging fa sm"></i>
                        </p>
                    </div>
                </section>
                <section class="scroll-item kilos">
                    <div>
                        <p>Lifetime footprint of iPhone 14 128 GB</p>
                        <p class="unit">
                            61 KG
                            <i class="fa-solid fa-weight-hanging fa sm"></i>
                        </p>
                    </div>
                </section>
                <section class="scroll-item kilos">
                    <div>
                        <p>One year of using a typical smartphone for 3.25 hours per day</p>
                        <p class="unit">
                            76 KG
                            <i class="fa-solid fa-weight-hanging fa sm"></i>
                        </p>
                    </div>
                </section>
                <section class="scroll-item kilos">
                    <div>
                        <p>Lifetime footprint of Apple iPad Air <br>(5th generation) 256 GB</p>
                        <p class="unit">
                            92 KG
                            <i class="fa-solid fa-weight-hanging fa sm"></i>
                        </p>
                    </div>
                </section>
                <section class="scroll-item kilos">
                    <div>
                        <p>One year of using a smartphone for 10 hours per day</p>
                        <p class="unit">
                            96 KG
                            <i class="fa-solid fa-weight-hanging fa sm"></i>
                        </p>
                    </div>
                </section>
                <section class="scroll-item kilos">
                    <div>
                        <p>The embodied lifetime footprint of an iPhone 11</p>
                        <p class="unit">
                            105 KG
                            <i class="fa-solid fa-weight-hanging fa sm"></i>
                        </p>
                    </div>
                </section>
                <section class="scroll-item kilos">
                    <div>
                        <p>One million Office files ingested by Arkivum on GCP in Frankfurt</p>
                        <p class="unit">
                            140 KG
                            <i class="fa-solid fa-weight-hanging fa sm"></i>
                        </p>
                    </div>
                </section>
                <section class="scroll-item kilos">
                    <div>
                        <p>Buying a low-cost 14″ HP Chromebook 14 G5</p>
                        <p class="unit">
                            329 KG
                            <i class="fa-solid fa-weight-hanging fa sm"></i>
                        </p>
                    </div>
                </section>
                <section class="scroll-item kilos">
                    <div>
                        <p>Buying a 15″ Dell Precision 5530 with 256 GB storage</p>
                        <p class="unit">
                            475 KG
                            <i class="fa-solid fa-weight-hanging fa sm"></i>
                        </p>
                    </div>
                </section>
                <section class="scroll-item kilos">
                    <div>
                        <p>Buying a 16″ MacBook Pro with 1 TB storage</p>
                        <p class="unit">
                            620 KG
                            <i class="fa-solid fa-weight-hanging fa sm"></i>
                        </p>
                    </div>
                </section>
                <section class="scroll-item kilos">
                    <div>
                        <p>One PB of large image files ingested by Arkivum in Frankfurt</p>
                        <p class="unit">
                            1600 KG
                            <i class="fa-solid fa-weight-hanging fa sm"></i>
                        </p>
                    </div>
                </section>
                <section class="scroll-item kilos">
                    <div>
                        <p>One PB data of Arkivum data stored for a year in Frankfurt</p>
                        <p class="unit">
                            7800 KG
                            <i class="fa-solid fa-weight-hanging fa sm"></i>
                        </p>
                    </div>
                </section>
            </div>
            <div class="tons-section">
                <section class="scroll-item-title tons-title"><p>TONS</p></section>
                <section class="scroll-item tons">
                    <div>
                        <p>ChatGPT each day <br>(assumed hosted in Western USA)</p>
                        <p class="unit">
                            27.4 TONS
                            <i class="fa-solid fa-weight-hanging fa md"></i>
                        </p>
                    </div>
                </section>
                <section class="scroll-item tons">
                    <div>
                        <p>Open-access BLOOM model AI</p>
                        <p class="unit">
                            30 TONS
                            <i class="fa-solid fa-weight-hanging fa md"></i>
                        </p>
                    </div>
                </section>
                <section class="scroll-item tons">
                    <div>
                        <p>Training NLP algorithm with neural architecture search (such as used for Alexa)</p>
                        <p class="unit">
                            315 TONS
                            <i class="fa-solid fa-weight-hanging fa md"></i>
                        </p>
                    </div>
                </section>
            </div>
            <div class="m-tons-section">
                <section class="scroll-item-title m-tons-title"><p>MILLIONS OF TONS</p></section>
                <section class="scroll-item m-tons">
                    <div>
                        <p>Mining bitcoin for one year using hydroelectric power only in 2023</p>
                        <p class="unit">
                            3.3 MILLION TONS
                            <i class="fa-solid fa-weight-hanging fa lg"></i>
                        </p>
                    </div>
                </section>
                <section class="scroll-item m-tons">
                    <div>
                        <p>Bitcoin in 2019</p>
                        <p class="unit">
                            46 MILLION TONS
                            <i class="fa-solid fa-weight-hanging fa lg"></i>
                        </p>
                    </div>
                </section>
                <section class="scroll-item m-tons">
                    <div>
                        <p>All cryptocurrencies in 2019</p>
                        <p class="unit">
                            68 MILLION TONS
                            <i class="fa-solid fa-weight-hanging fa lg"></i>
                        </p>
                    </div>
                </section>
                <section class="scroll-item m-tons">
                    <div>
                        <p>Mining bitcoin for one year using a variety of different energy sources in 2023</p>
                        <p class="unit">
                            79.9 MILLION TONS
                            <i class="fa-solid fa-weight-hanging fa lg"></i>
                        </p>
                    </div>
                </section>
                <section class="scroll-item m-tons">
                    <div>
                        <p>The cloud and the world's data centers in 2010</p>
                        <p class="unit">
                            130 MILLION TONS
                            <i class="fa-solid fa-weight-hanging fa lg"></i>
                        </p>
                    </div>
                </section>
                <section class="scroll-item m-tons">
                    <div>
                        <p>The cloud and the world's data centers in 2020</p>
                        <p class="unit">
                            160 MILLION TONS
                            <i class="fa-solid fa-weight-hanging fa lg"></i>
                        </p>
                    </div>
                </section>
                <section class="scroll-item m-tons">
                    <div>
                        <p>Global mobile phone usage</p>
                        <p class="unit">
                            580 MILLION TONS
                            <i class="fa-solid fa-weight-hanging fa lg"></i>
                        </p>
                    </div>
                </section>
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"></script>
        <script src="static/animation.js"></script>
    </body>
</html>
