<!DOCTYPE html>
<html>
    <head>
        <title>Turn it Off!</title>
        <link rel="stylesheet" href="static/style.css">
        <link rel="stylesheet" href="static/about-style.css">
        <link rel="icon" type="image/png" href="static/images/favicon.png"/>
        <link rel="apple-touch-icon"  type="image/png" href="static/images/favicon.png"/>
        <link rel="apple-touch-icon-precomposed" type="image/png" href="static/images/favicon.png"/>
    </head>
    <body>
        <div class="about-cloud">
            <a href="/">
                <p class="menu">Home</p>
            </a>
            <p class="about-title">Turn the cloud off!</p>
        </div>
    </body>
</html>